@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>Main Menu</h2>
    <ol>
        <li>
            <a href="ClassRooms\ClassRooms"> Show/Edit Classrooms</a>
        </li>
        <li>
            <a href="ClassRooms\ClassRooms"> Add Classroom </a>
        </li>
        <li>
            <a href="ClassRooms\ClassRooms"> ClassRoom Menu </a>
        </li>
    </ol>

</div>
