@page
@model Grade_Manager_Razor.Pages.Students.AssignAssignmentsModel
@{
    ViewData["Title"] = "Assign a New Assignment";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form>
        <label for="assignment">Assignment Name:</label>
        <input type="text" id="aName" name="aName" value="Assignment to Assign">
        <input type="submit" value="Submit">
    </form>
</div>
