@page
@model Grade_Manager_Razor.Pages.Students.ShowGradeAverageModel
@{
    ViewData["Title"] = "Grade Average";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Student Grade Average</thead>
    </table>
</div>
