@page
@model Grade_Manager_Razor.Pages.Students.ShowWorstGradeModel
@{
    ViewData["Title"] = "Worst Grade";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Student Worst Grade</thead>
    </table>
</div>
