@page
@model Grade_Manager_Razor.Pages.Students.ShowBestGradeModel
@{
    ViewData["Title"] = "Best Grade";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Student Best Grade</thead>
    </table>
</div>