@page
@model Grade_Manager_Razor.Pages.StudentsModel;
@{
    ViewData["Title"] = "Students";
}

<h1>@ViewData["Title"]</h1>


<div>
    <div>
        <ol>
            <li>
                <a href="\Students\ShowAllStudents"> Show Students</a>
            </li>
            <li>
                <a href="\Students\AddStudent"> Add Students </a>
            </li>
            <li>
                <a href="\Students\AssignAssignments"> Assign Assignments </a>
            </li>
            <li>
                <a href="\Students\ShowBestGrade"> Show Best Grade </a>
            </li>
            <li>
                <a href="\Students\ShowWorstGrade"> Show Worst Grade </a>
            </li>
            <li>
                <a href="\Students\ShowGradeAverage"> Show Grade Average </a>
            </li>
        </ol>
    </div>


</div>


