@page "{id}"
@model Grade_Manager_Razor.Pages.ClassRooms.ShowBestStudentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Grade_Manager_Razor.Models
@using Grade_Manager_Razor.Data
@{
    ViewData["Title"] = "Best Student";
}

<h1>@ViewData["Title"]</h1>

<div>
    The Best student in class is: @Model.student.Name
</div>

<a asp-page="/ClassRooms/ClassRoomDetailsMenu" asp-route-id="@Model.student.ClassRoomId" class="btn btn-success">Back to last Menu</a>
