@page "{id}"
@model Grade_Manager_Razor.Pages.ClassRooms.ShowWorstStudentModel
@{
    ViewData["Title"] = "Worst Student";
}

<h1>@ViewData["Title"]</h1>

<div>
    The Worst student in class is: @Model.student.Name
</div>

<a asp-page="/ClassRooms/ClassRoomDetailsMenu" asp-route-id="@Model.student.ClassRoomId" class="btn btn-success">Back to last Menu</a>
