@page
@model Grade_Manager_Razor.Pages.AssignmentsModel
@using Grade_Manager_Razor
@{
    ViewData["Title"] = "Assignments";
}

<h1>@ViewData["Title"]</h1>




<div>
    <ol>
        <li>
            <a href="\Assignments\ShowAllAssignments"> Show Assignments</a>
        </li>
        <li>
            <a href="\Assignments\AddAssignment"> Add Assignments </a>
        </li>
    </ol>
</div>


