@page
@model Grade_Manager_Razor.Pages.Assignments.RemoveAssignmentModel
@{
    ViewData["Title"]= "Remove Assignment";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form>
        <label for="assignment">Assignment Name:</label>
        <input type="text" id="aName" name="aName" value="Assignment to Remove">
        <input type="submit" value="Submit">
    </form>
</div>