@page
@model Grade_Manager_Razor.Pages.ClassRoomsModel
@{
    ViewData["Title"] = "ClassRooms";
}

<h1>@ViewData["Title"]</h1>



<div>
    <div>
        <ol>
            <li>
                <a href="\ClassRooms\ShowAllClassRooms"> Show Classrooms</a>
            </li>
            <li>
                <a href="\ClassRooms\AddClassRoom"> Add ClassRooms </a>
            </li>
            <li>
                <a href="\ClassRooms\Compare2Students"> Compare 2 Students </a>
            </li>
            <li>
                <a href="\ClassRooms\ShowBestStudent"> Show Best Student </a>
            </li>
            <li>
                <a href="\ClassRooms\ShowWorstStudent"> Show worst Student </a>
            </li>
            <li>
                <a href="\ClassRooms\ShowClassAverage"> Show Class Average </a>
            </li>
        </ol>
    </div>


</div>

