@page
@model Grade_Manager_Razor.Pages.ClassRooms.Compare2StudentsModel
@{
    ViewData["Title"] = "Compare 2 Students";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>
            <tr>
                <td>Student 1</td><td>Student2</td>
            </tr>
        </thead>
    </table>
</div>
