@page
@model Grade_Manager_Razor.Pages.ClassRooms.ShowAllClassRoomsModel
@{
    ViewData["Title"] = "Show All ClassRooms";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>
            <tr>
                <td>ClassRoom Name</td>               
            </tr>
        </thead>
        @foreach (KeyValuePair<string, ClassRoom> item in Model.ClassRoomDictionary)
        {
            <tr>
                <td>@item.Value.Name</td><td><button>Edit</button></td><td><button>Remove</button></td>              
            </tr>
        }
    </table>

</div>
