@page
@model Grade_Manager_Razor.Pages.ClassRooms.ShowBestStudentModel
@@{
    ViewData["Title"] = "Best Student";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Best Student In Class</thead>
    </table>
</div>
