@page
@model Grade_Manager_Razor.Pages.ClassRooms.ShowWorstStudentModel
@{
    ViewData["Title"] = "Worst Student";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Worst Student</thead>
    </table>
</div>
