@page
@model Grade_Manager_Razor.Pages.ClassRooms.ShowClassAverageModel
@{
    ViewData["Title"] = "Class Average";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>Class Average</thead>
    </table>
</div>
