@page "{StudentId?}"
@model Grade_Manager_Razor.Pages.Students.DeleteStudentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Grade_Manager_Razor.Models
@using Grade_Manager_Razor.Data

@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>



<h3>Are you sure you want to delete this?</h3>


<div class="table-responsive">
    <table class="table table-striped student">
        <thead>
            <tr>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.student.Name
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <form method="post" asp-page-handler="Delete">
        <input type="hidden" asp-for="@Model.student.StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="/ClassRooms/ClassRoomDetailsMenu" class="btn btn-success" asp-route-id="@Model.student.ClassRoomId">Back to ClassRoom Details Menu</a>
    </form>
</div>